@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
    font-family: 'Poppins', 'Roboto';
    margin: 0px;
    padding: 0px; 
    transition: all .2s linear;
}
/*---------NAVBAR START---------*/
#navbars{
    z-index: 10;
    position: sticky;
    font-size: 1.2rem;
}
.navbar{
    background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
}
#navbars a{
    color: #fff;
}
.navbar-nav li{
    padding: 0 10px;
}
.collapse ul li a{
    color: #fff !important;
    font-weight: 450;
}
.collapse ul li .dropdown-item{
    color: #0f0c29 !important;
}
.fa-bars{
    color: #fff !important;
    font-size: 35px;
}
/*---------NAVBAR END---------*/
/*---------HOME START---------*/
#registrasi{
    background: #F8F9FA;
    color: #24243e;
    min-height: 100vh;
    width: 100vw;
    padding-top: 3%;
}
.card{
    margin-left: 20%;
    width: 700px;
    box-shadow: #fff;
}
.card-header{
    background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
    color: #fff;
    font-size: 1.2rem;
}
.card-body{
    font-size: 0.7rem;
}
img{
    width: 250px;
    height: 250px;
    border: 3px solid;
}
form{
    padding-top: 3%;
}
input{
    font-size: 0.5rem;
}
.form-group input{
    font-size: 0.8rem;
}
.form-group button{
    font-weight: 450;
    width: 100%;
    border: 3px solid;
    border-color: #0f0c29;
    background: rgba(255, 255, 255, 0);
    border-radius: 25px;
    color: #0f0c29;
}
.form-group button:hover{
    background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
    color: #fff;
    border: none;
}
.gambar1{
    background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
    width: 100%;
    border: none;
    height: 200px;
}
.input-group{
    padding-bottom: 10px;
}
.input-group .form-control{
    border: none;
}
/*---------HOME END---------*/
